<% layout('layouts/boilerplate') -%>
<form class="form-horizontal">
    <fieldset>


        <div class="form-group">
            <label class="col-md-4 control-label" for="coin">Coin Name</label>
            <div class="col-md-2">
                <input id="coin" name="coin" type="text" placeholder="eg: LTC" class="form-control input-md">

            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="btn_Get"></label>
            <div class="col-md-4">
                <button id="btn_Get"  class="btn btn-primary">Button</button>
            </div>
        </div>

    </fieldset>
</form>


<% block('header', " ") %>
<% block('footer', " ") %>
