<p style="margin-left: 20px">
    This content has been loaded using the <b>include</b> ejs operator from a file loaded using the <b>partial()</b> function.
    It works fine, but we cannot load any file using <b>include</b> operator anymore using relative path, we need to use absolute to make it work.
</p>

