<p style="margin-left: 20px">
    This content has been loaded from an <b>relative</b> path. Relative paths work fine when we don't use the <b>include</b> operator but the <b>partial()</b> function instead.
</p>

